body{

}
.kocka {
	width: 400px;
	
	background-color: yellow;
	border: 3px solid black;
	margin:50px;


}
h1{
	padding-left: 10px;
	background-color:blue ;



}
p{
	margin-top: 20px;
	background-color: green;
	padding: 20px;
	word-break: break-word;
}